<%= f.input :title %>
<%= f.input :url %>
<%= f.input :description %>
<%= f.input :category_id, collection: Category.selectable_categories %>
<%= f.input :published_at, wrapper: :inline_form %>
<%= f.input :tag_list, input_html: { id: 'tag-registration', value: f.object.tag_list.join(',') } %>
<%= f.association :filters, collection: current_user.filters, as: :check_boxes %>

<div class="form-action text-center mt-10">
  <%= link_to mypages_path, class: 'btn btn-default' do %>
    <i class="fa fa-angle-double-left"></i> マイページに戻る
  <% end %>
  <span class="mr-20"></span>
  <% if f.object.persisted? %>
    <%= button_tag '更新する', type: :submit, class: 'btn btn-primary' %>
  <% else %>
    <%= button_tag '登録する', type: :submit, class: 'btn btn-primary' %>
  <% end %>
</div>
