<div class="row actw-settings">
<div class="col-md-12">
  <h1>パスワードをお忘れですか？</h1>

  <hr>

<%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email, required: true, autofocus: true %>
  </div>

  <div class="form-action text-center mt-10">
    <%= f.button :submit, "パスワードリセット手順を送る" %>
  </div>
<% end %>

<hr>

<%= render "devise/shared/links" %>
</div>
</div>
