<div class="page-top">
<h1><%= current_user.name %> さんの自動連携設定</h1>
</div>

<div class="row">
  <div class="col-md-12">
  <%= link_to new_auto_registrations_rss_path, class: 'btn btn-default' do %>
    <i class="fa fa-rss"></i>
    RSS連携を追加
  <% end %>

  <%= link_to '#', class: 'btn btn-default' do %>
    <i class="fa fa-plus"></i>
    Qiita連携を追加
  <% end %>

  </div>
</div>

<hr>

<div class="row">
  <div class="col-md-12 actw-settings">
  <h2>自動連携一覧</h2>

  <%= render 'shared/flash_message' %>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>自動連携名称</th>
        <th>最終連携日時</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    <% @coordinations.each do |coordination| %>
    <tr class="item">
      <td><%= link_to coordination.title, edit_auto_registrations_rss_path(coordination) %></td>
      <td><%= coordination.last_updated_at.try(:to_s) %></td>
      <td><%= link_to '即時連携実行', execute_coordination_auto_registration_path(coordination), method: :post, class: 'btn btn-default', data: { confirm: "#{coordination.title} の連携設定を元に、外部サイトからデータ取得を行います。よろしいですか。" } %></td>
    </tr>
    <% end %>
    </tbody>
  </table>
</div> <!-- /actw-settings -->

</div>
