<div class="page-top">
<h1><%= @user.name %> さんの <%= @category.name %></h1>
</div>

<div class="row mt-10">
  <div class="actw-filters">
    <div class="panel panel-default actw-panel">
      <div class="panel-heading">
        <h2> <%= @category.name %> (<%= @category_summary.data_count %>) </h2>
      </div>
      <ul class="list-group"><!-- list-group -->

        <%= render 'shared/products', products: @products %>

      </ul> <!-- /list-group -->
    </div>
  </div>

  <%= paginate @products %>
</div>

