<div class="list-group actw-sidemenu">
  <h2>
    管理メニュー
  </h2>
  <%= link_to new_manual_registration_path, class: 'list-group-item' do %>
    <i class="fa fa-plus"></i>
    アウトプット手動登録
  <% end %>

  <%= link_to filters_path, class: 'list-group-item' do %>
    <i class="fa fa-wrench"></i>
    フィルター追加・編集
  <% end %>

  <%= link_to '#', class: 'list-group-item' do %>
    <i class="fa fa-wrench"></i>
    自動連携設定
  <% end %>

  <%= link_to new_manual_registration_path, class: 'list-group-item' do %>
    <i class="fa fa-user"></i>
    プロフィール編集
  <% end %>
</div>

<div class="list-group actw-sidemenu">
  <% @filters.each do |filter| %>
  <%= link_to user_user_filter_path(user_id: filter.user_id, id: filter.id), class: 'list-group-item' do %>
    <span class="badge"><%= filter.data_count %></span>
    <%= filter.name %>
  <% end %>
  <% end %>
</div>

<div class="list-group actw-sidemenu">
  <h2>
    ジャンル別
  </h2>

  <% @user.user_category_summaries.sort_by { |v| v.category_id }.each do |summary| %>
  <%= link_to '#', class: 'list-group-item' do %>
    <span class="badge"><%= summary.data_count %></span>
    <%= summary.category.name %>
  <% end %>
  <% end %>
</div>
