<div class="list-group actw-sidemenu">
  <h2>
    管理メニュー
  </h2>
  <%= link_to new_manual_registration_path, class: 'list-group-item' do %>
    <i class="fa fa-plus"></i>
    アウトプット手動登録
  <% end %>

  <%= link_to filters_path, class: 'list-group-item' do %>
    <i class="fa fa-wrench"></i>
    フィルター追加・編集
  <% end %>

  <%= link_to '#', class: 'list-group-item' do %>
    <i class="fa fa-wrench"></i>
    自動連携設定
  <% end %>

  <%= link_to new_manual_registration_path, class: 'list-group-item' do %>
    <i class="fa fa-user"></i>
    プロフィール編集
  <% end %>
</div>

<div class="list-group actw-sidemenu">
  <%= link_to '#', class: 'list-group-item' do %>
    <span class="badge">14</span>
    ユーザ定義 ブログ
  <% end %>

  <%= link_to '#', class: 'list-group-item' do %>
    <span class="badge">14</span>
    ユーザ定義 リポジトリ
  <% end %>
</div>

<div class="list-group actw-sidemenu">
  <h2>
    ジャンル別
  </h2>

  <%= link_to '#', class: 'list-group-item' do %>
    <span class="badge">250</span>
    すべて
  <% end %>

  <%= link_to '#', class: 'list-group-item' do %>
    <span class="badge">14</span>
    ブログ
  <% end %>

  <%= link_to '#', class: 'list-group-item' do %>
    <span class="badge">14</span>
    コミット
  <% end %>

  <%= link_to '#', class: 'list-group-item' do %>
    <span class="badge">14</span>
    リポジトリ
  <% end %>

  <%= link_to '#', class: 'list-group-item' do %>
    <span class="badge">14</span>
    スライド
  <% end %>

  <%= link_to '#', class: 'list-group-item' do %>
    <span class="badge">14</span>
    技術文書
  <% end %>

  <%= link_to '#', class: 'list-group-item' do %>
    <span class="badge">14</span>
    作品
  <% end %>

  <%= link_to '#', class: 'list-group-item' do %>
    <span class="badge">14</span>
    その他
  <% end %>

</div>
