<div class="main-content-header">
  <div class="user-summary row">
    <div class="col-md-2 text-center">
      <img alt="" src="https://avatars2.githubusercontent.com/u/818452?v=3&s=460" width="120" class="user-image img-thumbnail">
    </div>
    <div class="col-md-10">
      <div class="row">
        <h1>テストユーザ
          <span class="mr-10"></span>
          <%= link_to '#' do %><i class="fa fa-twitter"></i><% end %>
          <%= link_to '#' do %><i class="fa fa-github"></i><% end %>
          <%= link_to '#' do %><i class="fa fa-envelope"></i><% end %>
          <%= link_to '#' do %><i class="fa fa-link"></i><% end %>
        </h1>
      </div>
      <div class="row">
        <ul class="list-inline page-default-color">
          <li> 今月のACT: 100pt </li>
          <li> 先月のACT: 150pt </li>
          <li> 累計ACT: 1000pt </li>
          <li> <a href="#">ACTの詳細を見る</a> </li>
        </ul>
      </div>
      <div class="row">
      <div class="profile">
        ここに自己紹介が入ります。 ここに自己紹介が入ります。 ここに自己紹介が入ります。 ここに自己紹介が入ります。 ここに自己紹介が入ります。 ここに自己紹介が入ります。 ここに自己紹介が入ります。 ここに自己紹介が入ります。 ここに自己紹介が入ります。 ここに自己紹介が入ります。 ここに自己紹介が入ります。
        ここに自己紹介が入ります。
      </div>
      </div>
    </div>
  </div> <!-- /user-summary -->
</div>

<div class="row mt-10">
  <div class="col-md-9"> <!-- main -->
    <div class="panel panel-default actw-panel">
      <!-- Default panel contents -->
      <div class="panel-heading">
        <h2> ユーザ定義 ブログ (28) </h2>
      </div>
      <ul class="list-group"><!-- list-group -->
      <% 5.times do %>
      <li class="list-group-item">

      <div class="row"> <!-- title -->
        <div class="col-md-9">
        <%= link_to '#' do %>
          <h3> <i class="fa fa-bookmark"></i> ここにブログの記事タイトルが入ります。テストなんでも良い</h3>
        <% end %>
        </div>
        <div class="col-md-3 text-right page-default-color">
          <i class="fa fa-clock-o"></i> 2014年12月07日 公開
        </div>
      </div> <!-- /title -->

      <div class="row"><!-- tag -->
        <div class="col-md-12">
        <span class="label label-info">AWS</span>
        <span class="label label-info">Ruby</span>
        <span class="label label-info">Rails</span>
        </div>
      </div>

      <div class="row"><!-- summary -->
        <div class="col-md-12 mt-10 page-default-color">
          ユーザーのことを第一に考えた Visual Language (視覚的な言語) の作成に挑戦したということが述べられています。 「古典的な良いデザインの原則」と「技術や科学の可能性と革新」を融合した、そんなデザインを考えているようです。
        </div>
      </div>

      <div class="row"><!-- edit -->
        <div class="col-md-12 text-right">
          <a href="#" class="">
            <i class="fa fa-pencil"></i> 編集する
          </a>
          <a href="#" class="">
            <i class="fa fa-times"></i> 削除する
          </a>
        </div>
      </div>

      </li>
      <% end %>
      </ul> <!-- /list-group -->
    </div>
  </div> <!-- /main -->

  <div class="col-md-3">
    <!-- sidebar -->
    <%= render 'sidebar' %>
    <!-- /sidebar -->
  </div>
</div>

<div class="cell main-content">
  <div class="col">
    <!-- user defined -->
    <div class="col content">
        <div class="col">
        <div class="cell panel content-panel">
          <div class="header">
            ユーザ定義 ブログ (28)
          </div>
          <% 5.times do %>
          <div class="body">
            <div class="cell">
              <div class="col">
                <div class="col width-fit mobile-width-fit">
                  <span class="icon icon-bookmark color-blue"></span>
                </div>
                <div class="col width-fill mobile-width-fill">
                  <span class="float-right">
                    <span class="text date">
                      <span class="icon icon-16 icon-time"></span>
                      2014年12月07日 公開
                    </span>
                    <br>
                  </span>
                  <div class="col width-fill mobile-width-fill">
                    <a href="#" class="fatty">ここにブログの記事タイトルが入ります。テストなんでも良い</a>
                  </div>
                  <div class="col tags">
                    <ul class="nav blocks">
                      <li><a href="#">Ruby</a></li>
                      <li><a href="#">Rails</a></li>
                      <li><a href="#">AWS</a></li>
                    </ul>
                  </div>
                  <div class="col mt-5 summary">
                    ユーザーのことを第一に考えた Visual Language (視覚的な言語) の作成に挑戦したということが述べられています。 「古典的な良いデザインの原則」と「技術や科学の可能性と革新」を融合した、そんなデザインを考えているようです。
                  </div>
                  <div class="col actw-settings-right">
                  </div>
                </div>
              </div>
            </div>

          </div>
        <% end %>
        </div>
      </div>
      <div class="col">
      <div class="cell pagination">
        <ul class="nav">
          <li class=""><a href="#" class="">Prev</a></li>
          <li class=""><a href="#" class="">1</a></li>
          <li class=""><a href="#" class="">2</a></li>
          <li class=""><a href="#" class="">3</a></li>
          <li class=""><a href="#" class="">4</a></li>
          <li class=""><a href="#" class="">5</a></li>
          <li class=""><a href="#" class="">Next</a></li>
        </ul>
      </div>
      </div>
    </div>

    <div class="col content">
        <div class="col">
        <div class="cell panel content-panel">
          <div class="header">
            ユーザ定義 レポジトリ (3)
          </div>
          <% 3.times do %>
          <div class="body">
            <div class="cell">
              <div class="col">
                <div class="col width-fit mobile-width-fit">
                  <span class="icon icon-bookmark color-blue"></span>
                </div>
                <div class="col width-fill mobile-width-fill">
                  <span class="float-right">
                    <span class="text date">
                      <span class="icon icon-16 icon-time"></span>
                      2014年12月07日 公開
                    </span>
                    <br>
                  </span>
                  <div class="col width-fill mobile-width-fill">
                    <a href="#" class="fatty">act-weaver-app</a>
                  </div>
                  <div class="col mt-5 summary">
                    ACT Weaverは、あなたの活動・成果物を一箇所にまとめるサービスです。
                  </div>
                </div>
              </div>
            </div>

          </div>
          <% end %>
        </div>
        </div>
    </div>

    <!-- /user-defined-->

    <div class="col content">
      <hr>
    </div>

    <!-- actitity -->
    <div class="col content">
      <h2><span class="icon icon-32 icon-rocket"></span>テストユーザさんの活動</h2>
      <div class="col">
        <div class="cell panel">
          <div class="header">
            2014年12月07日
          </div>
          <% 10.times do %>
          <div class="body">
            <div class="cell">
              <div class="col width-fit mobile-width-fit">
                <span class="icon icon-user"></span>
              </div>
              <div class="col width-fill mobile-width-fill">
                <div class="col">
                  <strong>
                    <a href="#">テストユーザ</a> さんがブログ <a href="#">ActiveRecordに関する何かのブログ記事です</a> を投稿しました
                  </strong>
                </div>
                <div class="col">
                  <div class="col width-fit mobile-width-fit">
                    <div class="cell">
                      <img alt="" src="https://avatars2.githubusercontent.com/u/818452?v=3&s=460" width="32px" height="32px">
                    </div>
                  </div>
                  <div class="col width-fill mobile-width-fill">
                    <div class="cell summary">
                      Added common class for long text wrap (whitespace)<br>
                      2 commits with 10 additions and 0 deletions
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <% end %>

        </div>

        <div class="cell panel">
          <div class="header">
            2014年12月06日
          </div>
          <% 2.times do %>
          <div class="body">
            <div class="cell">
              <div class="col width-fit mobile-width-fit">
                <span class="icon icon-user"></span>
              </div>
              <div class="col width-fill mobile-width-fill">
                <div class="col">
                  <strong>
                    <a href="#">テストユーザ</a> さんがブログ <a href="#">ActiveRecordに関する何かのブログ記事です</a> を投稿しました
                  </strong>
                </div>
                <div class="col">
                  <div class="col width-fit mobile-width-fit">
                    <div class="cell">
                      <img alt="" src="https://avatars2.githubusercontent.com/u/818452?v=3&s=460" width="32px" height="32px">
                    </div>
                  </div>
                  <div class="col width-fill mobile-width-fill">
                    <div class="cell summary">
                      Added common class for long text wrap (whitespace)<br>
                      2 commits with 10 additions and 0 deletions
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <% end %>

        </div>


        <div class="cell pagination">
          <ul class="nav">
            <li class=""><a href="#" class="">Prev</a></li>
            <li class=""><a href="#" class="">1</a></li>
            <li class=""><a href="#" class="">2</a></li>
            <li class=""><a href="#" class="">3</a></li>
            <li class=""><a href="#" class="">4</a></li>
            <li class=""><a href="#" class="">5</a></li>
            <li class=""><a href="#" class="">Next</a></li>
          </ul>
        </div>
      </div>

    </div>
    <!-- /actitity -->

  </div>
</div>

