<div class="main-content-header">
  <div class="user-summary row">
    <div class="col-md-2 text-center">
      <img alt="" src="https://avatars2.githubusercontent.com/u/818452?v=3&s=460" width="120" class="user-image img-thumbnail">
    </div>
    <div class="col-md-10">
      <div class="row">
        <h1><%= current_user.name %>
          <span class="mr-10"></span>
          <%= link_to '#' do %><i class="fa fa-twitter"></i><% end %>
          <%= link_to '#' do %><i class="fa fa-github"></i><% end %>
          <%= link_to '#' do %><i class="fa fa-envelope"></i><% end %>
          <%= link_to '#' do %><i class="fa fa-link"></i><% end %>
        </h1>
      </div>
      <div class="row">
      <div class="profile">
        ここに自己紹介が入ります。 ここに自己紹介が入ります。 ここに自己紹介が入ります。 ここに自己紹介が入ります。 ここに自己紹介が入ります。 ここに自己紹介が入ります。 ここに自己紹介が入ります。 ここに自己紹介が入ります。 ここに自己紹介が入ります。 ここに自己紹介が入ります。 ここに自己紹介が入ります。
        ここに自己紹介が入ります。
      </div>
      </div>
    </div>
  </div> <!-- /user-summary -->
</div>

<div class="row mt-10">

  <%= render 'shared/flash_message' %>

  <div class="col-md-9"> <!-- main -->
    <% @filters.select(&:display_mypage).each do |filter| %>
    <div class="actw-filters">
    <div class="panel panel-default actw-panel">
      <div class="panel-heading">
        <h2> <%= filter.name %> (<%= filter.data_count %>) </h2>
      </div>
      <ul class="list-group filter-products" data-filter-id="<%= filter.id %>" data-display-edit-link="true"><!-- list-group -->
        <div class="text-center spinner">
          <i class="fa fa-spinner fa-spin"></i>
        </div>
      </ul> <!-- /list-group -->
    </div>

    <div class="text-left mb-20">
    <%= link_to user_user_filter_path(user_id: filter.user_id, id: filter.id), class: 'btn btn-default' do %>
      <i class="fa fa-angle-double-right"></i>
      <%= filter.name %> の続きを見る
    <% end %>
    </div>

    </div>
    <% end %><!-- /filter -->

  </div> <!-- /main -->

  <div class="col-md-3">
    <!-- sidebar -->
    <%= render 'sidebar' %>
    <!-- /sidebar -->
  </div>
</div>

<%= render 'templates/product' %>
