<div class="row actw-settings">
  <div class="col-md-12">
    <h1>フィルターを追加</h1>

  <%= simple_form_for(@form, url: filters_path, method: :post, wrapper: :horizontal_form) do |f| %>
    <%= f.input :name %>
    <%= f.input :display_mypage, as: :boolean, wrapper: :horizontal_radio_and_checkboxes %>

    <div class="form-action text-center mt-10">
      <%= link_to filters_path, class: 'btn btn-default' do %>
        <i class="fa fa-angle-double-left"></i> フィルター一覧に戻る
      <% end %>
      <span class="mr-20"></span>
      <%= button_tag '追加する', type: :submit, class: 'btn btn-primary' %>
    </div>
  <% end %>
  </div>
</div>
